[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-gateway-java-committers
	read = deny group GitHub Replication
[access "refs/heads/*"]
	create = group ldap/hyperledger-gerrit-fabric-gateway-java-committers
	label-Verified = -1..+1 group Non-Interactive Users
	label-Verified = -1..+1 group ldap/hyperledger-gerrit-fabric-gateway-java-committers
[access "refs/tags/*"]
	createTag = group ldap/hyperledger-gerrit-fabric-gateway-java-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-gateway-java-committers
	push = group ldap/hyperledger-gerrit-fabric-gateway-java-committers
